# --- PROJECT ENV VARS ---

# The Environment Variables specified in this file are used as config settings by this project (for credentials, etc).
# - If running locally, copy to .env and set secrets there.
# - Do NOT commit populated .env files.
# - PRODUCTION: When running as a GitHub Action, set these variables as repo-level GitHub Secrets

# --- PROJECT SETTINGS ---

# Okta Groups prefix to sync to GitHub Teams
OKTA_TEAM_SYNC_GROUP_PREFIX="github-team-"

# --- OKTA SETTINGS ---

# Log into the Okta Admin Panel to retrieve the values for this section
# - URL: https://<your-okta-domain>-admin.okta.com/admin/app/

# Okta URL (no trailing slash)
OKTA_TEAM_SYNC_OKTA_BASE_URL="https://example.okta.com"

# Okta Client ID
OKTA_TEAM_SYNC_OKTA_CLIENT_ID="<okta-client-id>"

# Okta Client Private Key
# - Wrap PEM key value in single quotes. Example:
# - OKTA_TEAM_SYNC_OKTA_PRIVATE_KEY='---BEGIN PRIVATE KEY--- ...'
OKTA_TEAM_SYNC_OKTA_PRIVATE_KEY=

# Okta Client Key ID (kid) for the client private key
OKTA_TEAM_SYNC_OKTA_KEY_ID="<okta-key-id>"

# --- GITHUB SETTINGS ---

# Option 1: GitHub Personal Access Token (for local development only)
# - Leave this value empty when running in prod/using a GitHub App
#OKTA_TEAM_SYNC_GITHUB_TOKEN=

# Option 2: GitHub App Token (for Production)
# - Reference:
# - https://github.com/enterprises/<your-enterprise>/settings/apps/<your-app-slug>
OKTA_TEAM_SYNC_GH_APP_ID="<github-app-id>"

# GitHub App Org-Level Installation IDs
# - This project uses an Enterprise-level GitHub App
#   - URL: https://github.com/enterprises/<your-enterprise>/settings/apps/<your-app-slug>
# - This GitHub App is then installed at the GitHub Org level
# - Each installation will have an Installation ID such as:
#   - `orgName:orgInstallationID`
#   - Example:
#     OKTA_TEAM_SYNC_GH_INSTALLATION_IDS="org-a:12345
#     org-b:67890
#     org-c:24680"
OKTA_TEAM_SYNC_GH_INSTALLATION_IDS="
org-a:12345
org-b:67890
org-c:24680
"

# GitHub App Client Private Key
# - Wrap PEM key value in single quotes
# Example:
# OKTA_TEAM_SYNC_GH_PRIVATE_KEY='-----BEGIN RSA PRIVATE KEY-----'
OKTA_TEAM_SYNC_GH_PRIVATE_KEY=
